* {
    margin: 0;
    background-image: url('https://i.ytimg.com/vi/tZKN3S4v6mU/maxresdefault.jpg');
    z-index: 0;
    background-repeat: no-repeat;
    position: relative;
}

#tank {
    min-width: 128px;
    min-height: 102px;
    background-image: url('./tank.png');
    position: absolute;
    background-size: 80px 80px;
    top: 290px;
    left: 400px;
    background-repeat: no-repeat;
}

#title {
    position: absolute;
    top: 184px;
    font-size: 18px;
}

#title2 {
    position: absolute;
    top: 284px;
    font-size: 18px;
}

#about {
    position: absolute;
    top: 84px;
    font-size: 18px;
}

#age {
    position: absolute;
    font-size: 50px;
}